@page "/"

<PageTitle>J.T. Pierce Showcase Home</PageTitle>
<div class="d-flex flex-column align-items-start mb-3 posion-relative"
     style="background: url('images/TeamsBackground.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     min-height: 300px;
     padding-left: 10%">
    <img src="images/profile.png"
         alt="Profile image of J.T. Pierce"
         style="width:200px; height:auto; border-radius:5%; margin-top: 10px;" />
</div>
<div>My name is J.T. Pierce and I am a software developer with a passion for my craft. This project is meant to showcase some of my skills and experience in developing applications using modern technologies.</div>
<div>Try logging in with the following accounts to see how the interface changes with each role set:</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Role</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>admin@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>User Manager</td>
            <td>usermanager@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>Product Manager</td>
            <td>productmanager@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>Basic User</td>
            <td>user@local.test</td>
            <td>P@55word</td>
        </tr>
    </tbody>
</table>

