@page "/"

<PageTitle>J.T. Pierce Showcase Home</PageTitle>
<div class="d-flex align-items-center justify-content-start mb-3 position-relative"
     style="background: url('images/Background.png');
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     width: 100%;
     min-height: 300px;
     padding: 10px 2%;">

    <div class="text-dark me-2">
        <h2 class="mb-2">J.T. Pierce</h2>
        <img src="images/profile.png"
             alt="Profile image of J.T. Pierce"
             style="float: left; margin: 5px; width:200px; height:auto; border-radius:5%;" />
        <p class="lead mb-0 me-0">
            Senior Software Developer specializing in Azure architecture, cloud-native solutions,
            and modern web application design.
        </p>
        <p class="my-2">
            This small showcase application is meant to demonstrate some of my skills in building secure, scalable, and user-friendly applications.
        </p>
    </div>
</div>
<div>
    <p>Try logging in with each of the accounts in the table below to see how the interface changes with each role:</p>
    <p><em><strong>NOTE:</strong></em> The first attempt to log in may timeout waiting for API cold start. Just hit the Login button again.</p>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Role</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>admin@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>User Manager</td>
            <td>usermanager@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>Product Manager</td>
            <td>productmanager@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>Basic User</td>
            <td>user@local.test</td>
            <td>P@55word</td>
        </tr>
    </tbody>
</table>

