@page "/"

<PageTitle>Showcase Home</PageTitle>
<img src="images/profile.png" alt="My Picture" style="width:200px; height:auto; border-radius:10%;" />
<h1>J.T. Pierce</h1>

My name is J.T. Pierce and I am a software developer with a passion for software. This project is meant to showcase some of my skills and experience in developing applications using modern technologies.
