@page "/"

<PageTitle>J.T. Pierce Showcase Home</PageTitle>
<div class="d-flex flex-column align-items-center mb-3 position-relative"
     style="background-image: url('https://sashowcase.blob.core.windows.net/uploads/TeamsBackground.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            min-height: 300px;">
    <h1 style="color: cornflowerblue; text-align:center; margin-top: 20px;">J.T. Pierce</h1>
    <img src="https://sashowcase.blob.core.windows.net/uploads/profile.png"
         alt="My Picture"
         style="width:200px; height:auto; border-radius:10%; margin-top: 10px;" />
</div>
<div>My name is J.T. Pierce and I am a software developer with a passion for my craft. This project is meant to showcase some of my skills and experience in developing applications using modern technologies.</div>
<div>Try logging in with the following accounts to see how the interface changes with each role set:</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Role</th>
            <th>Email</th>
            <th>Password</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Admin</td>
            <td>admin@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>User Manager</td>
            <td>usermanager@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>Product Manager</td>
            <td>productmanager@local.test</td>
            <td>P@55word</td>
        </tr>
        <tr>
            <td>Basic User</td>
            <td>user@local.test</td>
            <td>P@55word</td>
        </tr>
    </tbody>
</table>

