@page "/products/{id:int}"
@using Showcase.Client.Services
@using Showcase.Contracts.Contracts.Product
@inject IProductApiService ProductService

<h3>Product Details</h3>

@if (product == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@product.Name</h5>
            <p class="card-text">@product.Description</p>
            <p class="card-text"><strong>Price:</strong> @product.Price.ToString("C")</p>
        </div>
    </div>
}

@code {
    [Parameter] public int id { get; set; }
    private ProductDto? product;

    protected override async Task OnInitializedAsync()
    {
        product = await ProductService.GetProductByIdAsync(id);
    }
}