<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/9ac81532-0f20-4935-bd6c-727d5da13bc2/resourceGroups/Showcase/providers/Microsoft.ContainerRegistry/registries/ShowcaseApi20250922115015</ResourceId>
    <ResourceName>ShowcaseApi20250922115015</ResourceName>
    <ResourceGroup>Showcase</ResourceGroup>
    <Subscription>Enterprise</Subscription>
    <RegistryUrl>showcaseapi20250922115015.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>