@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Showcase.Client.Services
@inject ApiAuthenticationStateProvider AuthStateProvider
@inject IAuthApiService AuthApiService
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink href="/login">Login</NavLink>
                </NotAuthorized>
                <Authorized>
                    <a href="#" @onclick="Logout">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var token = await AuthApiService.GetTokenAsync();
        if (!string.IsNullOrEmpty(token))
        {
            await AuthApiService.LogoutAsync();
        }
        AuthStateProvider.NotifyUserLogout();
        Navigation.NavigateTo("/");
    }
}