@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Showcase.Client.Services
@using Showcase.Client.Shared;
@inject ApiAuthenticationStateProvider AuthStateProvider
@inject IAuthApiService AuthApiService
@inject NavigationManager Navigation

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-layout">
        <div class="top-row px-4">
            <AuthorizeView>
                <NotAuthorized>
                    <NavLink href="/login">Login</NavLink>
                </NotAuthorized>
                <Authorized>
                    <a href="#" @onclick="Logout">Logout</a>
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            <Breadcrumbs CurrentPath="@RelativePath" />
            @Body
        </article>

        <footer class="app-footer">
            <div class="container">
                <p>&copy; 2025 J.T. Pierce. All rights reserved.</p>
            </div>
        </footer>
    </main>

</div>

@code {
    private string RelativePath => Navigation.ToBaseRelativePath(Navigation.Uri);

    private async Task Logout()
    {
        var token = await AuthApiService.GetTokenAsync();
        if (!string.IsNullOrEmpty(token))
        {
            await AuthApiService.LogoutAsync();
        }
        AuthStateProvider.NotifyUserLogout();
        Navigation.NavigateTo("/");
    }
}