@using Microsoft.AspNetCore.Components.Authorization
@using Showcase.Client.Services
@inject ApiAuthenticationStateProvider AuthStateProvider
@inject IAuthApiService AuthApiService
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <div class="sidebar">
        <ul>
            <li>
                <NavLink href="/" Match="NavLinkMatch.All">Home</NavLink>
            </li>

            <AuthorizeView>
                <Authorized>
                    <li>
                        <a href="#" @onclick="Logout">Logout</a>
                    </li>
                    <li>
                        <NavLink href="/products">Products</NavLink>
                    </li>
                    <AuthorizeView Roles="Admin" Context="newContext">
                        <li>
                            <NavLink href="/users">Users</NavLink>
                        </li>
                        <li>
                            <NavLink href="/roles">Roles</NavLink>
                        </li>
                    </AuthorizeView>
                </Authorized>
                <NotAuthorized>
                    <li>
                        <NavLink href="/login">Login</NavLink>
                    </li>
                </NotAuthorized>

            </AuthorizeView>
        </ul>
    </div>
</CascadingAuthenticationState>

@code {
    private async Task Logout()
    {
        var token = await AuthApiService.GetTokenAsync();
        if (!string.IsNullOrEmpty(token))
        {
            await AuthApiService.LogoutAsync();
        }
        AuthStateProvider.NotifyUserLogout();
        Navigation.NavigateTo("/");
    }
}
