<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/9ac81532-0f20-4935-bd6c-727d5da13bc2/resourcegroups/Showcase/providers/Microsoft.ContainerRegistry/registries/ShowcaseApi20250922115015</ContainerResourceId>
    <ContainerResourceName>ShowcaseApi20250922115015</ContainerResourceName>
    <Subscription>Enterprise</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>showcaseapi20250922115015.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>showcaseapi</ContainerName>
    <EnvironmentName>ShowcaseApi-env-20250922114502</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://showcaseapi-app-20250922114459.ashybush-8f783cf8.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/9ac81532-0f20-4935-bd6c-727d5da13bc2/resourceGroups/Showcase/providers/Microsoft.App/containerApps/showcaseapi-app-20250922114459</ResourceId>
    <ResourceGroup>Showcase</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>